

<%= form_for(@itinerary) do |f| %>
  <div class = "field">
    <% @itineraries do |i| %>

      <div class="field">
        Country: <%= i.text_field :country %><br>
      </div>
      <div class="field">
        Arrival Date: <%= i.date_select :date_start, id: "dateField" %><br>
      </div>
        <div class="field">
        Departure Date: <%= i.date_select :date_end, id: "dateField" %><br>
      </div>

    <% end %>
  </div>
<% end %>
