
<div class= "allit">
	<h1> All Itineraries! </h1>
</div>

<table class="table table-hover">

	<%= @itinerarylists.each do |i| %>
	<tr>
			<td style="width: 250px"><h2> <%= link_to i.name, i %> </h2></td>

			<td>
			<%= i.itineraries.each do |ii| %>
	  			
	  			<%= link_to ii.country, itineraries_path(:country => ii.country, :date_startm => ii["date_start(2i)"], :date_startd => ii["date_start(3i)"], :date_starty => ii["date_start(1i)"], :date_endm => ii["date_end(2i)"], :date_endd => ii["date_end(3i)"], :date_endy => ii["date_end(1i)"]) %><br>
			<% end %> 
			</td>
		</tr>
		<% end %>
</table>