<body>

	<div class = "container-fluid">

		<div class = "app-logo">
			<h1> PackerTracker </h1>
			
			<div class = "logo container-fluid">
				<div class = "col-md-3"></div>
				<div class = "col-md-6">
					<h3>Create a travel itinerary.<br><br>
					Check out other itineraries similar to yours<br><br>
					Share your itinerary with friends or connect with strangers who are travelling to the same places.</h3>
				</div>
				<div class = "col-md-3"></div>
			</div>		
		</div>
	</div>

	<div class = "container-fluid">
		<div class = "app-info">
			

			<h2>Create. Correspond. Connect.</h2>

			<div class = "signupbutton"> 
			<% if !signed_in? %>
	        	<p><%= link_to "Sign Up Now!", new_user_path, class: "btn btn-default" %></p>
	        	<br><br><br>
	        <% else %>
	        	<p>Enjoy using PackerTracker!</p>
	        	<br><br><br>
	        <% end %>
			</div>

		</div>
	</div>

	<div class = "container-fluid">
		<div class = "sponsored-by">
		</div>
	</div>

	<div class = 'container aboutpt'>
		<h1>PackerTracker allows travellers of all shapes and sizes the ability to upload and share travel itineraries with other backpackers.</h1>
	</div>

	<div class="container-fluid">
		<div class="col-md-4 profile">
		  	<div class = "profile-1"></div>
		  		<h3>Callie</h3>
		  		<p>Travelling to Central Asia in the winter.</p>
		</div>
		  	<div class="col-md-4 profile">
		  		<div class = "profile-2"></div>
		  		<h3>Phil</h3>
		  		<p>Going to Europe next year for ten months.</p>
		  	</div>
		  	<div class="col-md-4 profile">
		  		<div class = "profile-3"></div>
		  		<h3>Dillon</h3>
		  		<p>Headed on a trip around the world for as long as he can keep paying for it.</p>
		  	</div>
		</div>
	</div>

</body>