<body>

<h1> PackerTracker </h1>

<div class = "container-fluid">
	<div class = "app-logo">
	</div>
</div>

<div class = "container-fluid">
	<div class = "app-info">
		PackerTracker allows you to enter in your travel itineraries and find other backpackers who will be staying in the same places as you! Travelling is always more fun with others. Create. Correspond. Connect.

		<h2>PackerTracker</h2>

		<div class = "signupbutton"> 
		<% if !signed_in? %>
        	<p><%= link_to "Sign Up Now!", new_user_path %></p>
        <% else %>
        	<p>Enjoy using PackerTracker!</p>
        <% end %>
		</div>

	</div>
</div>

<div class = "container-fluid">
	<div class = "sponsored-by">
	</div>
</div>

</body>