
body {
	background-image: url(P1000004.JPG);
	background-size: 110%;
	background-repeat: none;
}

.user-form {
	margin: 100px 200px 100px 200px;
	padding: 30px;
}

.form-group {
	text-align: center;
}