// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$roboto: 'Roboto Slab', serif;
$shadow: 'Shadows Into Light', cursive;

.app-logo {
	background-image: url('images/World-map-wallpaper.jpg');
	font-family: $shadow;
	height: 200px;
}